<div
  class="annotation"
  [ngClass]="{'dragging': isDragging}"
  #annotationRef
  (mousedown)="startDragging($event)"
  (mousemove)="isDragging ? dragging($event) : ''"
  (mouseup)="stopDragging()"
  (mouseout)="stopDragging()"
  [ngStyle]="{
    'left': coords.x + 'px',
    'top': coords.y + 'px'
  }"
>
  <ng-container [ngSwitch]="type">

    <app-annotation-text
      [annotation]="annotation"
      *ngSwitchCase="'text'"
    ></app-annotation-text>

    <app-annotation-image
      [annotation]="annotation"
      *ngSwitchCase="'image'"
    ></app-annotation-image>

  </ng-container>
</div>
