<div
  class="annotation"
  [ngClass]="{'dragging': isDragging}"
  #annotationRef
  (mousedown)="startDragging($event)"
  (mousemove)="isDragging ? dragging($event) : ''"
  (mouseup)="stopDragging()"
  (mouseout)="stopDragging()"
  [ngStyle]="{
    'left': coords.x + '%',
    'top': coords.y + '%'
  }"
>
  <div class="delete" (click)="delete()">
    <img src="./assets/icons/x-mark.png" alt="x-mark">
  </div>
  <ng-container [ngSwitch]="type">

    <app-annotation-text
      [annotation]="annotation"
      [ngClass]="{'no_cursor_events': !!annotation.content.length}"
      *ngSwitchCase="'text'"
    ></app-annotation-text>

    <app-annotation-image
      [annotation]="annotation"
      [ngClass]="{'no_cursor_events': !!annotation.content.length}"
      *ngSwitchCase="'image'"
    ></app-annotation-image>

  </ng-container>
</div>
